<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.wangela.apps.rocklizardspock"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google Play filtering -->
    <uses-feature
        android:name="android.hardware.wifi.direct"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_spock"
        android:label="@string/app_name"
        android:theme="@style/MyCustomTheme" >
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.OnePActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/app_name"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name=".activities.WinActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name=".activities.RulesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name=".activities.TwoPPassActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name=".activities.TwoPWinActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true" >
        </activity>
        <activity
            android:name=".TwoPWifiActivity"
            android:label="@string/title_activity_two_pwifi" >
        </activity>
        <activity
            android:name=".TwoPBluetoothActivity"
            android:label="@string/title_activity_two_pbluetooth" >
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".FBLoginActivity"
                        android:label="@string/app_name" >
        </activity>
    </application>

</manifest>